fastapi==0.104.1
uvicorn[standard]==0.24.0
websockets==12.0
python-multipart==0.0.6
pydantic==2.5.0
ffmpeg-python==0.2.0
python-socketio==5.10.0
aiofiles==23.2.1
asyncio==3.4.3
numpy==1.24.3
python-json-logger==2.0.7
PyYAML==6.0.1 
RealtimeSTT==0.3.104
opencc-python-reimplemented==0.1.7
PyAudio==0.2.14
faster-whisper==1.1.1
pvporcupine==1.9.5
webrtcvad-wheels==2.0.14
halo==0.0.31
torch
torchaudio
scipy==1.15.2
openwakeword>=0.4.0
websockets==15.0.1
websocket-client==1.8.0
soundfile==0.13.1